{% extends "basico.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
{% endblock %}
{% block conteudo %}
<h1>Cores</h1>
<div class="modal" id="meuModalFeliz2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AVISO!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if opcao == 1 %}
            <form method="POST" action="{% url 'cores' %}">
                {% else %}
                <form method="POST">
                    {% endif %}
                <div class="modal-body">
                    <p>
                        {% csrf_token %}
                        {{ formCores | crispy }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="salvarForm" type="submit" class="btn btn-secondary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Editar</th>
        <th scope="col">Remover</th>
    </tr>
    </thead>
    <tbody>
    {% for cor in cores %}
    <tr>
        <th scope="row">{{cor.id}}</th>
        <td>{{cor.descricao}}</td>
        <td>{{cor.valor}}</td>
        <td>
            <a href="{% url 'cores_editar' cor.id %}">
                <button id="btnEditar" type="button" class="btn btn-secondary"><i class="fas fa-edit"></i></button>
            </a>
        </td>
        <td>
            <form method="POST" action="{% url 'cores' %}" onsubmit="return confirm('Deseja realmente deletar esta cor ?')">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ cor.id }}">
                <input type="hidden" name="delete" value="True">
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="col-12 row">
    <div class="col-6" align="left">
        <a href="{% url 'index'  %}">
            <button type="button" class="btn btn-light btn-lg rounded"><i class="fas fa-house "></i> Home
            </button>
        </a>
    </div>
    <div class="col-6" align="right">
        <button id="btnModal" type="button" class="btn btn-primary">{{btn}}</button>
    </div>
</div>
<script>
     $('#btnModal').click(function(){
        $('#meuModalFeliz2').modal('show')
     });
     {% if opcao == 2%}
         $('#meuModalFeliz2').modal('show');
     {% endif %}
</script>
{% endblock %}