{% extends "basico.html" %}
{% block titulo%} HERANÇA DE TEMPLATE {%endblock%}

{% block conteudo %}
<div class="col-12 mt-3">
    <div class="col-12">
        <h1>Acesso rápido</h1>
    </div>
    <div class="col-12">
        <a href="{% url 'montadora'  %}"><button type="button" class="btn btn-light btn-lg rounded"><i class="fas fa-industry "></i> Montadoras </button></a>
        <button type="button" class="btn btn-light btn-lg rounded"><i class="fas fa-car-side "></i> Modelos</button>
        <button type="button" class="btn btn-light btn-lg rounded"><i class="fas fa-palette "></i> Cores</button>
        <button type="button" class="btn btn-light btn-lg rounded"><i class="fas fa-cogs "></i> Itens</button>
        <button type="button" class="btn btn-light btn-lg rounded"><i class="fas fa-car "></i> Carros</button>
    </div>
</div>
{% endblock %}