{% extends "basico.html" %}
{% block titulo%} Listando montadoras {%endblock%}

{% block conteudo %}
<div class="col-12">
    {% if opcao %}
    <!-- Small modal -->
    <div class="modal" id="meuModalFeliz2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">AVISO!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    <h2>{{opcao_mensagem}}</h2></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        //alert("Parabéns vc CAGOU em uma montadora");
        $(document).ready(function () {
            $('#meuModalFeliz2').modal('show')
        });
    </script>
    {% endif %}
    <h1>Montadoras</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sigla</th>
            <th scope="col">Editar</th>
            <th scope="col">Remover</th>
        </tr>
        </thead>
        <tbody>
        {% for montadora in montadoras %}
        <tr>
            <th scope="row">{{montadora.id}}</th>
            <td>{{montadora.descricao}}</td>
            <td>{{montadora.sigla}}</td>
            <td>
                <a href="{% url 'editar_montadora' montadora.id %}">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i></button>
                </a>
            </td>
            <td>
                <form method="POST" onsubmit="return confirm('Deseja realmente deletar esta montadora?')">
                    <input type="hidden" name="id" value="{{ montadora.id}}">
                    <a href="{% url 'montadora' %}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </form>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<div class="col-12 row">
    <div class="col-6" align="left">
        <a href="{% url 'index'  %}">
            <button type="button" class="btn btn-light btn-lg rounded"><i class="fas fa-house "></i> Home
            </button>
        </a>
    </div>
    <div class="col-6" align="right">
        <a href="{% url 'cadastrar_montadora' %}">
            <button type="button" class="btn btn-primary">Criar</button>
        </a>
    </div>
</div>
{%endblock%}