{% extends "basico.html" %}
{% block conteudo %}

<div class="col-12">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" aria-describedby="nomeHelp" name="descricao"
                   placeholder="Ex: Fabbrica Italiana Automobili Torino"
                   value="{{montadora.descricao}}"
            >
            <small id="nomeHelp" class="form-text text-muted">Nome completo da montadora</small>
        </div>
        <div class="form-group">
            <label for="inputSigla">Sigla</label>
            <input type="text" class="form-control" id="inputSigla" aria-describedby="siglaHelp"
                   placeholder="Ex: FIAT" name="sigla"
                   value="{{montadora.sigla}}">
            <small id="emailHelp" class="form-text text-muted">Sigla da montadora</small>
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a href="{% url 'montadora' %}">
                    <button type="button" class="btn btn-light">VOLTAR</button>
                </a>
            </div>
            <div class="col-6" align="right">
                <button type="submit" class="btn btn-primary">SALVAR</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}